@model BlogPost
@{
    ViewBag.Icon = "fa-table";
    ViewBag.Title = "Thông tin Tin tức";
}
<section role="main" class="content-body">
    <header class="page-header">
        <h2><i class="fa @ViewBag.Icon"></i> @ViewBag.Title</h2>
        <div class="right-wrapper pull-right">
            <ol class="breadcrumbs">
                <li>
                    <a asp-action="Index" asp-controller="HomeAdmin">
                        <i class="fa fa-home"></i>
                    </a>
                </li>
                <li>
                    <a asp-action="Index">
                        <i class="fa fa-newspaper-o"></i> Bài viết
                    </a>
                </li>
                <li><span>Thông tin</span></li>
            </ol>
            <a class="sidebar-right-toggle" data-open="sidebar-right"><i class="fa fa-chevron-left"></i></a>
        </div>
    </header>
    <div class="row">
        <div class="col-sm-4">
            <a asp-action="Index" class="btn btn-primary"><i class="fa fa-chevron-left"></i> Quay lại</a>
            <a class="btn btn-warning" href="@Url.Action("Update", new { @id = Model.Id })"><i class="fa fa-pencil"></i> Cập nhật</a>
        </div>
        <div class="col-sm-8 text-right">
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 text-center">
            <h3>@Html.DisplayFor(m => m.Title)</h3>
        </div>
    </div>
    <hr />
    <div class="row">
        <div class="col-md-3">
            <img class="img-responsive" src="@Model.Image" alt="" />
            <hr />
            <dl>
                <dt>Tác giả:</dt>
                <dd>@Model.CreateUser  (@Html.DisplayFor(m => m.CreateTime))</dd>
                <dt>Sửa cuối:</dt>
                <dd>@Model.UpdateUser (@Html.DisplayFor(m => m.LastUpdate))</dd>
                <dt>Trạng thái:</dt>
                <dd>@Html.EnumDisplayFor(m => m.Status)</dd>
                @if (Model.PublishTime != null)
                {
                    <dt>Ngày đăng:</dt>
                    <dd>@Html.DisplayFor(m => m.PublishTime)</dd>
                }
            </dl>
        </div>
        <div class="col-md-9">
            <ul class="nav nav-tabs">
                <li class="active"><a href="#tab01" data-toggle="tab"><i class="fa fa-list"></i> Nội dung</a></li>
                @if (Model.Format == PostFormat.Gallery)
                {
                    <li><a href="#tab02" data-toggle="tab"><i class="fa fa-image"></i>  Hình ảnh</a></li>
                }
            </ul>
            <div class="tab-content">
                <div id="tab01" class="tab-pane active">
                    @Html.Raw(Model.Content)
                </div>
                <div id="tab02" class="tab-pane">
                    <input id="files" name="files" type="file" multiple class="file-loading">
                </div>
            </div>
        </div>
    </div>
</section>
