@model ChangePasswordViewModel
<div role="main" class="main">
    <div class="container">
        <div class="row">
            <div class="col-md-9 col-md-push-3 my-account form-section">
                <h1 class="h2 heading-primary font-weight-normal">Thông tin tài khoản</h1>
                <div class="featured-box featured-box-primary featured-box-flat featured-box-text-left mt-md">
                    <div class="box-content">
                        <form asp-controller="Manage" asp-action="ChangePassword" method="post" role="form">
                            <h4 class="heading-primary text-uppercase mb-lg">THAY ĐỔI THÔNG TIN</h4>
                            <div class="row">
                                <div class="col-xs-12">
                                    <div class="form-group">
                                        <label class="font-weight-normal">Email  <span class="required">*</span></label>
                                        <input type="email" class="form-control" value="@this.User.Identity.Name" disabled required>
                                    </div>
                                </div>
                                <div class="col-xs-12">
                                    <div class="form-group">
                                        <label asp-for="ShippingAddress.Phone" class="font-weight-normal"></label><span class="required"> * </span>
                                        <input asp-for="ShippingAddress.Phone" class="form-control" value="@Model.ShippingAddress?.Phone"/> 
                                        <span asp-validation-for="ShippingAddress.Phone" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label asp-for="ShippingAddress.State" class="font-weight-normal"></label><span class="required"> * </span>
                                        <input asp-for="ShippingAddress.State" class="form-control" value="@Model.ShippingAddress?.State" />
                                        <span asp-validation-for="ShippingAddress.State" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label asp-for="ShippingAddress.City" class="font-weight-normal"></label><span class="required"> * </span>
                                        <input asp-for="ShippingAddress.City" class="form-control" value="@Model.ShippingAddress?.City" />
                                        <span asp-validation-for="ShippingAddress.City" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="form-group">
                                        <label asp-for="ShippingAddress.Address" class="font-weight-normal"></label><span class="required"> * </span>
                                        <input asp-for="ShippingAddress.Address" class="form-control" value="@Model.ShippingAddress?.Address"/>
                                        <span asp-validation-for="ShippingAddress.Address" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-xs-12">
                                    <p class="required mt-lg mb-none">* Bắt buộc</p>
                                    <div class="form-action clearfix mt-none">
                                        <input type="submit" class="btn btn-primary" value="Lưu">
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>


                </div>

                <div class="featured-box featured-box-primary featured-box-flat featured-box-text-left mt-md">
                    <div class="box-content">
                        <form asp-controller="Manage" asp-action="ChangePassword" method="post" role="form">
                            <h4 class="heading-primary text-uppercase mb-lg">THAY ĐỔI MẬT KHẨU</h4>
                            <div class="row">                                
                                <div class="col-xs-12">
                                    <div class="form-group">
                                        <label asp-for="OldPassword" class="font-weight-normal"></label><span class="required"> * </span>
                                        <input asp-for="OldPassword" class="form-control" />
                                        <span asp-validation-for="OldPassword" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label asp-for="NewPassword" class="font-weight-normal"></label><span class="required"> * </span>
                                        <input asp-for="NewPassword" class="form-control" />
                                        <span asp-validation-for="NewPassword" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label asp-for="ConfirmPassword" class="font-weight-normal"></label><span class="required"> * </span>
                                        <input asp-for="ConfirmPassword" class="form-control" />
                                        <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-xs-12">
                                    <p class="required mt-lg mb-none">* Bắt buộc</p>
                                    <div class="form-action clearfix mt-none">
                                        <a href="demo-shop-14-login.html" class="pull-left"><i class="fa fa-angle-double-left"></i> Back</a>
                                        <input type="submit" class="btn btn-primary" value="Đổi mật khẩu">
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>

            </div>
            <div class="col-md-3 col-md-pull-9">
                <aside class="sidebar">
                    <h4>Tài khoản của tôi</h4>
                    <ul class="nav nav-list">
                        <li><a href="@Url.Action("Index","Manage")">Tổng quan</a></li>
                        <li class="active"><a href="#">Thông tin tài khoản</a></li>
                        <li><a href="@Url.Action("GetMyOrder","Manage")">Đơn hàng</a></li>
                        <li><a href="@Url.Action("Index","Wish")">Yêu thích</a></li>
                    </ul>
                </aside>
            </div>
        </div>

    </div>
</div>
