@model MyOrdersViewModel

<div role="main" class="main">
    <div class="container">
        <div class="row">
            <div class="col-md-9 col-md-push-3 my-account">
                <h1 class="h2 heading-primary font-weight-normal">Đơn hàng của tôi</h1>

                <div class="toggle toggle-primary mt-lg" data-plugin-toggle>
                    @foreach (var order in Model.orders)
                    {
                        <section class="toggle">                           
                            <label>
                                <table class="cart-table">
                                    <tr>
                                        <th> Đơn hàng : @order.Id </th>
                                        <th> Ngày đặt : @order.CreateTime </th>
                                        <th> Trạng thái : @order.OrderStatus </th>
                                    </tr>
                                </table>
                            </label>
                            <div class="toggle-content">
                                <div class="panel-body">
                                    <div class="row">
                                        <div class="col-md-12 col-lg-12">
                                            <div class="cart-table-wrap">
                                                <table class="cart-table">
                                                    <thead>
                                                        <tr>
                                                            <th></th>
                                                            <th>Tên sản phẩm</th>
                                                            <th>Đơn giá</th>
                                                            <th>Số lượng</th>
                                                            <th>Thành tiền</th>
                                                        </tr>
                                                    </thead>

                                                    <tbody>
                                                        @foreach (var orderItem in order.Items)
                            {
                                <tr class="cart-items">
                                    <td class="product-image-td">
                                        <a href="@Url.Action("Detail", "Product", new { id = orderItem.ShopItem.Id })" title="@orderItem.ShopItem.Name">
                                            <img src="https://www.ticivi.com/@orderItem.ShopItem.Image" alt="@orderItem.ShopItem.Name">
                                        </a>
                                    </td>
                                    <td class="product-name-td">
                                        <h2 class="product-name"><a href="@Url.Action("Detail", "Product", new { id =   orderItem.ShopItem.Id })" title="@orderItem.ShopItem.Name">@orderItem.ShopItem.Name</a></h2>
                                    </td>
                                    <td> @orderItem.ShopItem.FormatedCurrentPrice</td>
                                    <td> @orderItem.Quantity </td>
                                    <td>
                                        <span class="text-primary">@orderItem.SubTotal</span>
                                    </td>
                                </tr>
}
                                                    </tbody>

                                                    <tfoot>
                                                        <tr>
                                                            <td colspan="4" class="clearfix">
                                                                <span class="text-primary"> TỔNG CỘNG : </span>
                                                                <span class="text-primary"> @order.FormatedGrandTotalPrice </span>
                                                            </td>

                                                            <td colspan="2" class="clearfix">
                                                                <button class="btn btn-primary"> HỦY ĐƠN HÀNG </button>
                                                            </td>
                                                        </tr>
                                                    </tfoot>
                                                </table>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </section>
                    }
                </div>              

            </div>
            <div class="col-md-3 col-md-pull-9">
                <aside class="sidebar">
                    <h4>Tài khoản của tôi</h4>
                    <ul class="nav nav-list">
                        <li><a href="@Url.Action("Index","Manage")">Tổng quan</a></li>
                        <li><a href="@Url.Action("ChangePassword","Manage")">Thông tin</a></li>
                        <li class="active"><a href="#">Đơn hàng</a></li>
                        <li><a href="@Url.Action("Index","wish")">Yêu thích</a></li>
                    </ul>
                </aside>
            </div>
        </div>
    </div>
</div>