
@{
    ViewData["Title"] = "DetailsService";
}

<div role="main" class="main">
    <section class="section section-tertiary section-no-border pb-md mt-none">
        <div class="container">
            <div class="row mt-xl">
                <div class="col-md-10 col-md-offset-2 pt-xlg mt-xlg align-right">
                    <h1 class="text-uppercase font-weight-light mt-xl text-color-primary">Dịch vụ</h1>
                </div>
            </div>
        </div>
    </section>

    <div class="container">

        <div class="row pt-sm mb-xl">
            <div class="col-md-3">
                <aside class="sidebar">
                    <ul class="nav nav-list mb-xl show-bg-active">
                        <li><a href="@Url.Action("Service")">Tổng quan</a></li>
                        <li><a href="@Url.Action("DetailsService")">Bốc xếp</a></li>
                        <li class="active"><a href="@Url.Action("DetailsService")">Chuyển nhà & văn phòng</a></li>
                        <li><a href="@Url.Action("DetailsService")">Cho thuê nhân công</a></li>
                        <li><a href="@Url.Action("DetailsService")">Cho thuê xe nâng cẩu</a></li>
                    </ul>
                    <h4 class="pt-xl mb-md text-color-dark">Liên hệ</h4>
                    <p>Liên hệ với chúng tôi hoặc gọi cho chúng tôi để nhận được sự giúp đỡ.</p>
                    <ul class="list list-icons mt-xlg mb-xlg">
                        <li><i class="icon-pin icons"></i> <strong>Địa chỉ:</strong> 1234 Street Name, City Name</li>
                        <li><i class="icon-call-end icons"></i> <strong>Điện thoại:</strong> (123) 456-789</li>
                        <li><i class="icon-envelope icons"></i> <strong>Email:</strong> <a href="mailto:mail@example.com">mail@example.com</a></li>
                    </ul>

                </aside>

            </div>
            <div class="col-md-9">

                <h2 class="mb-sm">General Construction</h2>

                <img class="img-responsive pull-right ml-xlg mb-xl mt-xl" src="~/img/demos/construction/icons/construction.png" alt="" />

                <p class="lead mb-xl mt-lg">Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittisem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbiacumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio. Sed non  mauris vitae erat consequat.</p>

                <p>Gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris.</p>

                <div class="row">
                    <div class="col-md-5">
                        <p class="pb-xl">Lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio. Sed non  mauris vitae erat consequat. Lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare.</p>
                    </div>
                    <div class="col-md-7">
                        <div class="nivo-slider pb-xl mb-xl">
                            <div class="slider-wrapper theme-default">
                                <div id="nivoSlider" class="nivoSlider mt-none mb-xlg">
                                    <img src="~/img/demos/construction/slides/slide-construction-small-1.jpg" data-thumb="~/img/demos/construction/slides/slide-construction-small-1.jpg" alt="" />
                                    <img src="~/img/demos/construction/slides/slide-construction-small-2.jpg" data-thumb="~/img/demos/construction/slides/slide-construction-small-2.jpg" alt="" />
                                    <img src="~/img/demos/construction/slides/slide-construction-small-3.jpg" data-thumb="~/img/demos/construction/slides/slide-construction-small-3.jpg" alt="" />
                                    <img src="~/img/demos/construction/slides/slide-construction-small-4.jpg" data-thumb="~/img/demos/construction/slides/slide-construction-small-4.jpg" alt="" />
                                </div>
                                <div id="htmlcaption" class="nivo-html-caption"></div>
                            </div>
                        </div>
                    </div>
                </div>

                <p>Gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris.</p>

                <h4 class="mt-xlg mb-md">Our Process</h4>

                <ul class="list list-icons list-primary mt-xl mb-xlg">
                    <li class="appear-animation" data-appear-animation="fadeInUp" data-appear-animation-delay="0"><i class="fa fa-check"></i> Fusce sit amet orci quis arcu vestibulum vestibulum.</li>
                    <li class="appear-animation" data-appear-animation="fadeInUp" data-appear-animation-delay="300"><i class="fa fa-check"></i> Amet orci quis arcu vestibulum vestibulum.</li>
                    <li class="appear-animation" data-appear-animation="fadeInUp" data-appear-animation-delay="600"><i class="fa fa-check"></i> Orci quis arcu vestibulum vestibulum.</li>
                    <li class="appear-animation" data-appear-animation="fadeInUp" data-appear-animation-delay="900"><i class="fa fa-check"></i> Fuscesit amet orci quis arcu vestibulum vestibulum.</li>
                </ul>

            </div>
        </div>

    </div>
</div>


