@{
    ViewData["Title"] = "Home Page";
}

<div role="main" class="main">
    <div class="slider-container light rev_slider_wrapper" style="height: 700px;">
        <div id="revolutionSlider" class="slider rev_slider" data-plugin-revolution-slider data-plugin-options="{'delay': 9000, 'gridwidth': 1170, 'gridheight': 700, 'disableProgressBar': 'on'}">
            <ul>
                <li data-transition="fade">
                    <img src="~/img/banner/banner1.jpg"
                         alt=""
                         data-bgposition="center 100%"
                         data-bgfit="cover"
                         data-bgrepeat="no-repeat"
                         class="rev-slidebg">
                    <div class="tp-caption top-label tp-caption-custom-stripe"
                         data-x="right" data-hoffset="100"
                         data-y="bottom" data-voffset="100"
                         data-start="1000"
                         data-transform_in="x:[100%];opacity:0;s:1000;">#1 DỊCH VỤ BỐC XẾP HÀNG HÓA</div>
                </li>
                <li data-transition="fade">
                    <img src="~/img/banner/banner2.jpg"
                         alt=""
                         data-bgposition="center 100%"
                         data-bgfit="cover"
                         data-bgrepeat="no-repeat"
                         class="rev-slidebg">
                    <div class="tp-caption top-label tp-caption-custom-stripe"
                         data-x="right" data-hoffset="180"
                         data-y="bottom" data-voffset="100"
                         data-start="1000"
                         data-transform_in="x:[100%];opacity:0;s:1000;">#2 DỊCH VỤ CHUYỂN NHÀ</div>
                </li>
            </ul>
        </div>
    </div>
    <div class="container">
        <div class="row mt-xl mb-xl pt-xl mb-xl">
            <div class="col-md-4">
                <h2 class="mt-xl mb-none text-color-dark">GIỚI THIỆU</h2>
            </div>
            <div class="col-md-2 center hidden-xs hidden-sm">
                <img src="img/dotted-line-angle.png" class="img-responsive" />
            </div>
            <div class="col-md-6">
                <p class="mt-xl">CÔNG TY TNHH DỊCH VỤ VẬN TẢI ANH TÚ chuyên cung cấp dịch vụ bốc xếp tại địa bàn Quận 1, Quận 2, Quận 3, Quận 4, Quận 5, Quận 6, Quận 7, Quận 8, Quận 9, Quận 10, Quận 11, Quận 12 Quận Bình Thạnh, Quận Thủ Đức, Quận Phú Nhuận, Quận Gò Vấp, Quận Tân Bình, Quận Tân Phú, Quận Bình Tân, Huyện Hóc Môn, Huyện Bình Chánh...</p>
                <a class="mt-md" href="demo-construction-company.html">Xem thêm <i class="fa fa-long-arrow-right"></i></a>
            </div>
        </div>
    </div>

    <section class="section section-tertiary section-no-border section-custom-construction">
        <div class="container">
            <div class="row">
                <div class="col-md-12 center">
                    <h2 class="mt-xl mb-none">DỊCH VỤ CỦA CHÚNG TÔI</h2>
                    <div class="divider divider-primary divider-small divider-small-center mb-xl">
                        <hr>
                    </div>
                </div>
            </div>
            <div class="row mt-xl">
                <div class="col-md-6">
                    <span class="thumb-info thumb-info-side-image thumb-info-no-zoom mb-xl">
                        <span class="thumb-info-side-image-wrapper p-none hidden-xs">
                            <a title="" href="@Url.Action("DetailsService","Home",new { id = 1 })">
                                <img src="~/img/icons/bocxep.jpg" class="img-responsive" alt="" style="width: 195px; height:235px; object-fit:cover; object-position:center">
                            </a>
                        </span>
                        <span class="thumb-info-caption">
                            <span class="thumb-info-caption-text">
                                <h2 class="mb-md mt-xs"><a title="" class="text-dark" href="@Url.Action("DetailsService","Home",new { id = 1 })">Bốc xếp hàng hóa</a></h2>
                                <p class="font-size-md">Dịch vụ bốc xếp hàng hóa Công ty chúng tôi tiếp nhận cuộc gọi dịch vụ và chăm sóc khách hàng 24/24, làm việc 24/24 theo khung giờ quý khách hàng chọn lựa...</p>
                                <a class="mt-md" href="@Url.Action("DetailsService","Home",new { id = 1 })">Chi tiết <i class="fa fa-long-arrow-right"></i></a>
                            </span>
                        </span>
                    </span>
                </div>
                <div class="col-md-6">
                    <span class="thumb-info thumb-info-side-image thumb-info-no-zoom mb-xl">
                        <span class="thumb-info-side-image-wrapper p-none hidden-xs">
                            <a title="" href="@Url.Action("DetailsService","Home",new { id = 2 })">
                                <img src="~/img/icons/chuyenvp.png" class="img-responsive" alt="" style="width: 195px; height:235px; object-fit:cover; object-position:center">
                            </a>
                        </span>
                        <span class="thumb-info-caption">
                            <span class="thumb-info-caption-text">
                                <h2 class="mb-md mt-xs"><a title="" class="text-dark" href="@Url.Action("DetailsService","Home",new { id = 2 })">Chuyển nhà - Văn phòng</a></h2>
                                <p class="font-size-md">Dịch vụ chuyển nhà chúng tôi luôn mang đến cho quý khách hài lòng, và từng ngày xây dựng được lòng tin tưởng với khách hàng. Cam kết chất lượng dịch vụ hàng đầu về sự chuyên nghiệp, uy tín...</p>
                                <a class="mt-md" href="@Url.Action("DetailsService","Home",new { id = 2 })">Chi tiết <i class="fa fa-long-arrow-right"></i></a>
                            </span>
                        </span>
                    </span>
                </div>
                <div class="col-md-6">
                    <span class="thumb-info thumb-info-side-image thumb-info-no-zoom mb-xl">
                        <span class="thumb-info-side-image-wrapper p-none hidden-xs">
                            <a title="" href="@Url.Action("DetailsService","Home",new { id = 3 })">
                                <img src="~/img/icons/thuenhancong.jpg" class="img-responsive" alt="" style="width: 195px; height:235px; object-fit:cover; object-position:center">
                            </a>
                        </span>
                        <span class="thumb-info-caption">
                            <span class="thumb-info-caption-text">
                                <h2 class="mb-md mt-xs"><a title="" class="text-dark" href="@Url.Action("DetailsService","Home",new { id = 3 })">Cho thuê nhân công</a></h2>
                                <p class="font-size-md">Dịch vụ Cho thuê nhân công bốc xếp tại Tphcm,Bình Dương. Hãy đến với chúng tôi,công ty chúng tôi sẽ nhanh chóng cử công nhân , đến tận nơi...</p>
                                <a class="mt-md" href="@Url.Action("DetailsService","Home",new { id = 3 })">Chi tiết <i class="fa fa-long-arrow-right"></i></a>
                            </span>
                        </span>
                    </span>
                </div>
                <div class="col-md-6">
                    <span class="thumb-info thumb-info-side-image thumb-info-no-zoom mb-xl">
                        <span class="thumb-info-side-image-wrapper p-none hidden-xs">
                            <a title="" href="@Url.Action("DetailsService","Home",new { id = 4 })">
                                <img src="~/img/icons/thuexe.png" class="img-responsive" alt="" style="width: 195px; height:235px; object-fit:cover; object-position:center">
                            </a>
                        </span>
                        <span class="thumb-info-caption">
                            <span class="thumb-info-caption-text">
                                <h2 class="mb-md mt-xs"><a title="" class="text-dark" href="@Url.Action("DetailsService","Home",new { id = 4 })">Cho thuê xe nâng cẩu</a></h2>
                                <p class="font-size-md">Dịch vụ cho thuê xe nâng cẩu Công ty chúng tôi luôn cung cấp các lọa thiết bị máy móc nhằm phục vụ khách hàng một cách hiệu quả nhất...</p>
                                <a class="mt-md" href="@Url.Action("DetailsService","Home",new { id = 4 })">Chi tiết <i class="fa fa-long-arrow-right"></i></a>
                            </span>
                        </span>
                    </span>
                </div>
            </div>
        </div>
    </section>

    <div class="container">
        <div class="row">
            <div class="col-md-12 center">
                <h2 class="mt-xl mb-none">QUY TRÌNH HOẠT ĐỘNG</h2>
                <div class="divider divider-primary divider-small divider-small-center mb-xl">
                    <hr>
                </div>
            </div>
        </div>
        <div class="home-concept appear-animation" data-appear-animation="fadeIn" data-appear-animation-delay="500">
            <svg class="home-concept-bg" x="0px" y="0px" width="345px" height="93px" viewBox="0 0 345 83" enable-background="new 0 0 345 93" xml:space="preserve">
            <image overflow="visible" width="26" height="39" xlink:href="img/home-concept-pin.png" transform="matrix(0.169 0.1308 -0.1308 0.169 339.8496 0.6826)" class="final-pin appear-animation" data-appear-animation="animated-pin" data-appear-animation-delay="3650">
                        </image>
            <path class="line appear-animation" fill="none" stroke="#6f6f6f" stroke-width="0.25" stroke-miterlimit="0" stroke-dasharray="0" data-appear-animation="animated-line" data-appear-animation-duration="4s" d="M7.086,87.455c8.133-8.646,54.247-51.634,155.173-36.766C268.762,66.38,327.34,17.642,337.992,10.241" />



            <path fill="none" stroke="#FFF" stroke-width="0.50" stroke-miterlimit="10" stroke-dasharray="1,2.5" d="M7.086,87.455c8.133-8.646,54.247-51.634,155.173-36.766C268.762,66.38,327.34,17.642,337.992,10.241" />



            <image overflow="visible" width="26" height="39" xlink:href="img/home-concept-pin.png" transform="matrix(0.2137 0 0 0.2137 1 81.5898)" class="initial-pin appear-animation" data-appear-animation="animated-pin">
                        </image>
                    </svg>
            <div class="container">

                <div class="row center">
                    <span class="sun"></span>
                    <span class="cloud"></span>
                    <div class="col-md-2 col-md-offset-1">
                        <div class="process-image">
                            <div class="box-image">
                                <svg class="small-circle" x="0px" y="0px" width="39px" height="39px" viewBox="0 0 39 39" enable-background="new 0 0 39 39" xml:space="preserve">
                                <circle class="line appear-animation" fill="#FFF" stroke="#6f6f6f" stroke-width="0.25" stroke-miterlimit="0" stroke-dasharray="0" data-appear-animation="animated-line" data-appear-animation-delay="800" cx="19.5" cy="19.5" r="19.063" />



                                <circle fill="none" stroke="#FFF" stroke-width="0.50" stroke-miterlimit="10" stroke-dasharray="1,2.5" cx="19.5" cy="19.5" r="19.063" />



                                        </svg>
                                <img src="~/img/icons/tiepnhan.png" alt="" class="appear-animation" data-appear-animation="zoomIn" data-appear-animation-duration="300" data-appear-animation-delay="1400" />
                            </div>
                            <strong class="appear-animation" data-appear-animation="fadeInDown" data-appear-animation-delay="1150" data-plugin-options="{'accY': 200}">Tiếp nhận</strong>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="process-image">
                            <div class="box-image">
                                <svg class="small-circle" x="0px" y="0px" width="39px" height="39px" viewBox="0 0 39 39" enable-background="new 0 0 39 39" xml:space="preserve">
                                <circle class="line appear-animation" fill="#FFF" stroke="#6f6f6f" stroke-width="0.25" stroke-miterlimit="0" stroke-dasharray="0" data-appear-animation="animated-line" data-appear-animation-delay="1200" cx="19.5" cy="19.5" r="19.063" />



                                <circle fill="none" stroke="#FFF" stroke-width="0.50" stroke-miterlimit="10" stroke-dasharray="1,2.5" cx="19.5" cy="19.5" r="19.063" />



                                        </svg>
                                <img src="~/img/icons/thoathuan.jpg" alt="" class="appear-animation" data-appear-animation="zoomIn" data-appear-animation-duration="300" data-appear-animation-delay="1900" />
                            </div>
                            <strong class="appear-animation" data-appear-animation="fadeInDown" data-appear-animation-delay="2150" data-plugin-options="{'accY': 200}">Thỏa thuận</strong>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="process-image">
                            <div class="box-image">
                                <svg class="small-circle" x="0px" y="0px" width="39px" height="39px" viewBox="0 0 39 39" enable-background="new 0 0 39 39" xml:space="preserve">
                                <circle class="line appear-animation" fill="#FFF" stroke="#6f6f6f" stroke-width="0.25" stroke-miterlimit="0" stroke-dasharray="0" data-appear-animation="animated-line" data-appear-animation-delay="1700" cx="19.5" cy="19.5" r="19.063" />



                                <circle fill="none" stroke="#FFF" stroke-width="0.50" stroke-miterlimit="10" stroke-dasharray="1,2.5" cx="19.5" cy="19.5" r="19.063" />



                                        </svg>
                                <img src="~/img/icons/tienhanh.png" alt="" class="appear-animation" data-appear-animation="zoomIn" data-appear-animation-duration="300" data-appear-animation-delay="2400" />
                            </div>
                            <strong class="appear-animation" data-appear-animation="fadeInDown" data-appear-animation-delay="2650" data-plugin-options="{'accY': 200}">Tiến hành</strong>
                        </div>
                    </div>
                    <div class="col-md-4 col-md-offset-1">
                        <div class="project-image">
                            <div class="box-image">
                                <svg class="big-circle" x="0px" y="0px" width="85px" height="85px" viewBox="0 0 85 85" enable-background="new 0 0 85 85" xml:space="preserve">
                                <circle class="line appear-animation" fill="#FFF" stroke="#6f6f6f" stroke-width="0.25" stroke-miterlimit="0" stroke-dasharray="0" data-appear-animation="animated-line" data-appear-animation-delay="2250" cx="42.5" cy="42.5" r="42.063" />



                                <circle fill="none" stroke="#FFF" stroke-width="0.50" stroke-miterlimit="10" stroke-dasharray="1,2.5" cx="42.5" cy="42.5" r="42.063" />



                                        </svg>
                                <div id="fcSlideshow" class="fc-slideshow appear-animation" data-appear-animation="zoomIn" data-appear-animation-duration="300" data-appear-animation-delay="2900">
                                    <ul class="fc-slides">
                                        <li><a href="portfolio-single-small-slider.html"><img class="img-responsive" src="~/img/icons/hoanthanh.jpg" alt="" /></a></li>
                                        <li><a href="portfolio-single-small-slider.html"><img class="img-responsive" src="~/img/icons/hoanthanh.jpg" alt="" /></a></li>
                                    </ul>
                                </div>
                            </div>
                            <strong class="our-work appear-animation" data-appear-animation="fadeInDown" data-appear-animation-delay="3150" data-plugin-options="{'accY': 300}">Hoàn thành</strong>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <section class="section section-tertiary section-no-border section-custom-construction">
        <div class="container">
            <div class="row">
                <div class="col-md-12 center">
                    <h2 class="mt-xl mb-none">VÌ SAO NÊN CHỌN DỊCH VỤ CỦA CHÚNG TÔI</h2>
                    <div class="divider divider-primary divider-small divider-small-center mb-xl">
                        <hr>
                    </div>
                </div>
            </div>
            <div class="row mt-lg">
                <div class="col-md-6">
                    <div class="feature-box feature-box-style-2 mb-xl appear-animation" data-appear-animation="fadeInUp" data-appear-animation-delay="300">
                        <div class="feature-box-icon">
                            <img src="~/img/icons/kinhnghiem.jpg" alt="" class="img-responsive" />
                        </div>
                        <div class="feature-box-info ml-md">
                            <h4 class="mb-sm">
                                KINH NGHIỆM
                            </h4>
                            <p> Chúng tôi có kinh nghiệm trên 10 năm trong lĩnh vực bốc xếp hàng hóa. </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="feature-box feature-box-style-2 mb-xl appear-animation" data-appear-animation="fadeInUp" data-appear-animation-delay="0">
                        <div class="feature-box-icon">
                            <img src="~/img/icons/tuvan.png" alt="" class="img-responsive" />
                        </div>
                        <div class="feature-box-info ml-md">
                            <h4 class="mb-sm">KHẢO SÁT – TƯ VẤN</h4>
                            <p>
                                Khảo sát và tư vấn cho Quý khách kế hoạch bốc xếp một cách khoa học và nhiệt tình.<br>
                                Hàng hóa của Quý khách sẽ được bốc xếp nhanh chóng, tiết kiệm tối đa thời gian và công sức.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mt-md mb-xl">
                <div class="col-md-6">
                    <div class="feature-box feature-box-style-2 mb-xl appear-animation" data-appear-animation="fadeInUp" data-appear-animation-delay="300">
                        <div class="feature-box-icon">
                            <img src="~/img/icons/quytrinh.jpg" alt="" class="img-responsive" />
                        </div>
                        <div class="feature-box-info ml-md">
                            <h4 class="mb-sm">QUY TRÌNH</h4>
                            <p> Quy trình chất lượng nghiêm ngặt, tuân thủ tuyệt đối bởi bộ phận giám sát. </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="feature-box feature-box-style-2 mb-xl appear-animation" data-appear-animation="fadeInUp" data-appear-animation-delay="0">
                        <div class="feature-box-icon">
                            <img src="~/img/icons/camket.jpg" alt="" class="img-responsive" />
                        </div>
                        <div class="feature-box-info ml-md">
                            <h4 class="mb-sm"> CAM KẾT </h4>
                            <p>
                                Không xảy ra hư hỏng, đổ vỡ hàng hóa của khách.
                                Nếu xảy ra hư hại hàng hóa, chúng tôi cam kết bồi thường thiệt hại cho Quý khách.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="pt-md pb-xl home-concept-construction">
        <div class="container">
            <div class="row">
                <div class="col-md-12 center">
                    <h2 class="mt-xl mb-none">HÌNH ẢNH CỦA CHÚNG TÔI</h2>
                    <div class="divider divider-primary divider-small divider-small-center mb-xl">
                        <hr>
                    </div>
                </div>
            </div>
            <div class="row pt-xl">
                <div class="col-md-12">
                    <div class="diamonds-wrapper lightbox" data-plugin-options="{'delegate': '.diamond', 'type': 'image', 'gallery': {'enabled': true}}">
                        <ul class="diamonds">
                            <li>
                                <a href="img/demos/construction/gallery/construction-gallery-1.jpg" class="diamond">
                                    <div class="content">
                                        <img src="img/demos/construction/gallery/construction-gallery-1.jpg" class="img-responsive" />
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="img/demos/construction/gallery/construction-gallery-2.jpg" class="diamond">
                                    <div class="content">
                                        <img src="img/demos/construction/gallery/construction-gallery-2.jpg" class="img-responsive" />
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="img/demos/construction/gallery/construction-gallery-3.jpg" class="diamond">
                                    <div class="content">
                                        <img src="img/demos/construction/gallery/construction-gallery-3.jpg" class="img-responsive" />
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="img/demos/construction/gallery/construction-gallery-4.jpg" class="diamond diamond-sm">
                                    <div class="content">
                                        <img src="img/demos/construction/gallery/construction-gallery-4.jpg" class="img-responsive" />
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="img/demos/construction/gallery/construction-gallery-5.jpg" class="diamond">
                                    <div class="content">
                                        <img src="img/demos/construction/gallery/construction-gallery-5.jpg" class="img-responsive" />
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="img/demos/construction/gallery/construction-gallery-6.jpg" class="diamond diamond-sm">
                                    <div class="content">
                                        <img src="img/demos/construction/gallery/construction-gallery-6.jpg" class="img-responsive" />
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="img/demos/construction/gallery/construction-gallery-7.jpg" class="diamond diamond-sm">
                                    <div class="content">
                                        <img src="img/demos/construction/gallery/construction-gallery-7.jpg" class="img-responsive" />
                                    </div>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="row row-diamons-description">
                <div class="col-md-6">
                    <p>Đây là thư viện ảnh của chúng tôi qua các hợp đồng bốc xếp. Đây là thư viện ảnh của chúng tôi qua các hợp đồng bốc xếp. </p>
                    @*<a class="btn btn-borders btn-primary" href="demo-construction-projects.html">View All Projects</a>*@
                </div>
            </div>
        </div>
    </section>

    <section class="pt-md section-custom-construction-2">
        <div class="container">
            <div class="row">
                <div class="col-md-12 center">
                    <h2 class="mt-xl mb-none">KHÁCH HÀNG TIÊU BIỂU</h2>
                    <div class="divider divider-primary divider-small divider-small-center mb-xl">
                        <hr>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12 center mt-xl">
                    <hr class="solid mt-none mb-xl">
                </div>
            </div>

            <div class="row">
                <div class="col-md-12 center">
                    <div class="owl-carousel owl-theme stage-margin rounded-nav" data-plugin-options="{'margin': 10, 'loop': false, 'nav': true, 'dots': false, 'stagePadding': 40, 'items': 6, 'autoplay': true, 'autoplayTimeout': 3000}">
                        <div>
                            <img class="img-responsive" src="img/logos/logo-1.png" alt="">
                        </div>
                        <div>
                            <img class="img-responsive" src="img/logos/logo-2.png" alt="">
                        </div>
                        <div>
                            <img class="img-responsive" src="img/logos/logo-3.png" alt="">
                        </div>
                        <div>
                            <img class="img-responsive" src="img/logos/logo-4.png" alt="">
                        </div>
                        <div>
                            <img class="img-responsive" src="img/logos/logo-5.png" alt="">
                        </div>
                        <div>
                            <img class="img-responsive" src="img/logos/logo-6.png" alt="">
                        </div>
                        <div>
                            <img class="img-responsive" src="img/logos/logo-4.png" alt="">
                        </div>
                        <div>
                            <img class="img-responsive" src="img/logos/logo-2.png" alt="">
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 center mt-xl">
                    <hr class="solid mt-none mb-xl">
                </div>
            </div>
            @*<div class="row pt-xl">
                    <div class="col-md-12">
                        <h2 class="mb-none text-color-dark">Blog</h2>
                        <p class="lead mb-sm">Lorem ipsum dolor sit amet.</p>
                    </div>
                    </div>
                    <div class="row">
                    <div class="col-md-4">
                        <div class="recent-posts mt-xl">
                            <a href="demo-construction-blog-detail.html">
                                <img class="img-responsive pb-md" src="img/demos/construction/blog/blog-construction-1.jpg" alt="Blog">
                            </a>
                            <article class="post">
                                <div class="date">
                                    <span class="day">15</span>
                                    <span class="month">Jan</span>
                                </div>
                                <h4 class="pt-md pb-none mb-none"><a class="text-color-dark" href="demo-construction-blog-detail.html">Lorem ipsum dolor sit amet</a></h4>
                                <p>By admin</p>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec hendrerit vehicula est, in consequat libero.</p>
                                <a class="mt-md" href="demo-construction-blog-detail.html">Read More <i class="fa fa-long-arrow-right"></i></a>
                            </article>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="recent-posts mt-xl">
                            <a href="demo-construction-blog-detail.html">
                                <img class="img-responsive pb-md" src="img/demos/construction/blog/blog-construction-2.jpg" alt="Blog">
                            </a>
                            <article class="post">
                                <div class="date">
                                    <span class="day">15</span>
                                    <span class="month">Jan</span>
                                </div>
                                <h4 class="pt-md pb-none mb-none"><a class="text-color-dark" href="demo-construction-blog-detail.html">Lorem ipsum dolor sit amet</a></h4>
                                <p>By admin</p>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec hendrerit vehicula est, in consequat libero.</p>
                                <a class="mt-md" href="demo-construction-blog-detail.html">Read More <i class="fa fa-long-arrow-right"></i></a>
                            </article>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="recent-posts mt-xl">
                            <a href="demo-construction-blog-detail.html">
                                <img class="img-responsive pb-md" src="img/demos/construction/blog/blog-construction-3.jpg" alt="Blog">
                            </a>
                            <article class="post">
                                <div class="date">
                                    <span class="day">15</span>
                                    <span class="month">Jan</span>
                                </div>
                                <h4 class="pt-md pb-none mb-none"><a class="text-color-dark" href="demo-construction-blog-detail.html">Lorem ipsum dolor sit amet</a></h4>
                                <p>By admin</p>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec hendrerit vehicula est, in consequat libero.</p>
                                <a class="mt-md" href="demo-construction-blog-detail.html">Read More <i class="fa fa-long-arrow-right"></i></a>
                            </article>
                        </div>
                    </div>
                </div>*@
        </div>
    </section>
    
</div>
