
@{
    ViewData["Title"] = "Service";
}
<div role="main" class="main">
    <section class="section section-tertiary section-no-border pb-md mt-none">
        <div class="container">
            <div class="row mt-xl">
                <div class="col-md-10 col-md-offset-2 pt-xlg mt-xlg align-right">
                    <h1 class="text-uppercase font-weight-light mt-xl text-color-primary">Dịch vụ</h1>
                </div>
            </div>
        </div>
    </section>

    <div class="container">

        <div class="row pt-sm">
            <div class="col-md-3">
                <aside class="sidebar">
                    <ul class="nav nav-list mb-xl show-bg-active">
                        <li><a href="@Url.Action("Service")">Tổng quan</a></li>
                        <li><a href="@Url.Action("DetailsService")">Bốc xếp</a></li>
                        <li class="active"><a href="@Url.Action("DetailsService")">Chuyển nhà & văn phòng</a></li>
                        <li><a href="@Url.Action("DetailsService")">Cho thuê nhân công</a></li>
                        <li><a href="@Url.Action("DetailsService")">Cho thuê xe nâng cẩu</a></li>
                    </ul>
                    <h4 class="pt-xl mb-md text-color-dark">Liên hệ</h4>
                    <p>Liên hệ với chúng tôi hoặc gọi cho chúng tôi để nhận được sự giúp đỡ.</p>
                    <ul class="list list-icons mt-xlg mb-xlg">
                        <li><i class="icon-pin icons"></i> <strong>Địa chỉ:</strong> 1234 Street Name, City Name</li>
                        <li><i class="icon-call-end icons"></i> <strong>Điện thoại:</strong> (123) 456-789</li>
                        <li><i class="icon-envelope icons"></i> <strong>Email:</strong> <a href="mailto:mail@example.com">mail@example.com</a></li>
                    </ul>
                </aside>

            </div>
            <div class="col-md-9">

                <div class="row mt-lg">
                    <div class="col-md-12">
                        <div class="feature-box feature-box-style-2 mb-xl ml-xlg appear-animation" data-appear-animation="fadeInUp" data-appear-animation-delay="0">
                            <div class="feature-box-icon">
                                <img src="~/img/demos/construction/icons/construction.png" alt="" class="img-responsive" />
                            </div>
                            <div class="feature-box-info ml-xlg">
                                <h4 class="mb-sm">General Construction</h4>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque rutrum pellentesque imperdiet. Quisque rutrum pellentesque imperdiet. Nulla lacinia iaculis nulla.</p>
                                <a class="mt-md" href="demo-construction-services-detail.html">Learn More <i class="fa fa-long-arrow-right"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row mt-lg">
                    <div class="col-md-12">
                        <div class="feature-box feature-box-style-2 mb-xl ml-xlg appear-animation" data-appear-animation="fadeInUp" data-appear-animation-delay="0">
                            <div class="feature-box-icon">
                                <img src="~/img/demos/construction/icons/plumbing.png" alt="" class="img-responsive" />
                            </div>
                            <div class="feature-box-info ml-xlg">
                                <h4 class="mb-sm">Plumbing</h4>
                                <p>Lorem ipsum dolor sit amet Quisque rutrum pellentesque imperdietonsectetur adipiscing metus elit. Quisque rutrum pellentesque imperdiet.</p>
                                <a class="mt-md" href="demo-construction-services-detail.html">Learn More <i class="fa fa-long-arrow-right"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row mt-lg">
                    <div class="col-md-12">
                        <div class="feature-box feature-box-style-2 mb-xl ml-xlg appear-animation" data-appear-animation="fadeInUp" data-appear-animation-delay="300">
                            <div class="feature-box-icon">
                                <img src="~/img/demos/construction/icons/painting.png" alt="" class="img-responsive" />
                            </div>
                            <div class="feature-box-info ml-xlg">
                                <h4 class="mb-sm">Painting</h4>
                                <p>Lorem ipsum dolor sit amet, consectetur. Quisque rutrum pellentesque imperdiet. adipiscing metus elit. Quisque rutrum pellentesque imperdiet.</p>
                                <a class="mt-md" href="demo-construction-services-detail.html">Learn More <i class="fa fa-long-arrow-right"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row mt-lg">
                    <div class="col-md-12">
                        <div class="feature-box feature-box-style-2 mb-xl ml-xlg appear-animation" data-appear-animation="fadeInUp" data-appear-animation-delay="300">
                            <div class="feature-box-icon">
                                <img src="~/img/demos/construction/icons/ground-construction.png" alt="" class="img-responsive" />
                            </div>
                            <div class="feature-box-info ml-xlg">
                                <h4 class="mb-sm">Pre-Construction</h4>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque rutrum pellentesque imperdiet. Quisque rutrum pellentesque imperdiet. Nulla lacinia iaculis nulla.</p>
                                <a class="mt-md" href="demo-construction-services-detail.html">Learn More <i class="fa fa-long-arrow-right"></i></a>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>

    </div>
</div>


