@addTagHelper *,TCVShared
@model PagedList<ShopItem>
@{
    var categories = ViewData["categories"] as String[];
    var viewType = ViewData["style"] as String;
    var catID = ViewData["catID"] as int?;
}
<div role="main" class="main">
    <section class="page-header">
        <div class="container">
            <ul class="breadcrumb">
                <li><a href="#">Trang chủ</a></li>
                <li class="active">Danh mục</li>
            </ul>
        </div>
    </section>
    <div class="container">
        <div class="row">
            <div class="col-md-9 col-md-push-3">
                <div class="owl-carousel boxed-banner-carosel owl-theme" data-plugin-options="{'items':1}">
                    <div class="boxed-banner">
                        @if (catID == null || catID == -1)
                        {
                            <img src="~/img/banner/banner4.jpg" alt="Banner">
                        }
                        else if(catID == -2)
                        {
                            <img src="~/img/banner/banner4.jpg" alt="Banner">
                        }
                        else if(catID == 11)
                        {
                            <img src="~/img/banner/banner4.jpg" alt="Banner">
                        }
                        else if(catID == 12)
                        {
                            <img src="~/img/banner/banner_raucu.png" alt="Banner">
                        }
                        else if(catID == 13)
                        {
                            <img src="~/img/banner/banner_traicay.png" alt="Banner">
                        }
                        else if(catID == 14)
                        {
                            <img src="~/img/banner/banner_nam.png" alt="Banner">
                        }
                         else if(catID == 15)
                        {
                            <img src="~/img/banner/banner_socola.png" alt="Banner">
                        }
                        else if(catID == 16)
                        {
                            <img src="~/img/banner/banner_chumngay.png" alt="Banner">
                        }
                        else if(catID == 17)
                        {
                            <img src="~/img/banner/banner_thucphamsay.png" alt="Banner">
                        }
                        else
                        {
                            <img src="~/img/banner/banner4.jpg" alt="Banner">
                        }

                         <div class="banner-content">
                            @* TODO *@
                        </div>
                    </div>
                    @*<div class="boxed-banner">
                        <img src="~/img/banner/banner2.jpg" alt="Banner">
                    </div>*@
                </div>
                <div class="toolbar mb-none">
                    <div class="sorter">
                        <div class="sort-by">
                            <label>Sắp theo:</label>
                            <select>
                                <option value="Name">Tên sản phẩm</option>
                                <option value="Price">Giá cả</option>
                            </select>
                            <a href="#" title="Set Desc Direction">
                                <img src="~/img/demos/shop/i_asc_arrow.gif" alt="Set Desc Direction">
                            </a>
                        </div>
                        <div class="view-mode">
                            @if (viewType == "grid")
                            {
                                <span title="Grid">
                                    <i class="fa fa-th"></i>
                                </span>
                                <a href="@Url.Action("Category", "Product", new { style = "list"})" title="List">
                                    <i class="fa fa-list-ul"></i>
                                </a>
                            }
                            else {
                                <a href="@Url.Action("Category", "Product", new { style = "grid" })" title="Grid">
                                <i class="fa fa-th"></i>
                                </a>
                                <span title="List">
                                    <i class="fa fa-list-ul"></i>
                                </span>
                            }
                        </div>
                        <ul class="pagination">
                            <pagination model="@Model" query-string="@Context.Request.QueryString" css-style="pagination pagination-sm"></pagination>
                        </ul>                       
                    </div>
                </div>
                @if (viewType == "list")
                {
                    <ul class="products-list">

                        @foreach (var item in Model.Content)
                        {
                            <li>
                                <div class="product product-list">
                                    <figure class="product-image-area">
                                        <a href="@Url.Action("Detail", "Product", new { id = item.Id })" title="@item.Name" class="product-image">
                                            <img src="@item.Image" alt="@item.Name" style="object-fit:cover; width:100%; height:200px">
                                            @*<img src="@item.Preview" alt="@item.Name" class="product-hover-image" style="object-fit:cover; width:100%; height:200px">*@
                                        </a>
                                        @if (item.CurrentPrice != item.RegularPrice)
                                        {
                                            <div class="product-label"><span class="discount">@item.DiscountPercent</span></div>
                                        }
                                        @if (item.NewProduct)
                                        {
                                            <div class="product-label"><span class="new">Mới</span></div>
                                        }
                                    </figure>
                                    <div class="product-details-area">
                                        <h2 class="product-name"><a href="@Url.Action("Detail", "Product", new { id = item.Id })" title="@item.Name">@item.Name</a></h2>
                                        <div class="product-ratings">
                                            <div class="ratings-box">
                                                <div class="rating" style="width: 90%"></div>
                                            </div>
                                        </div>
                                        <div class="product-short-desc">
                                            @item.Preview
                                        </div>

                                        <div class="product-price-box">
                                            @if (item.SalePrice != item.CurrentPrice)
                                            {
                                                <span class="old-price">@Convert.ToDecimal(item.RegularPrice).ToString("#,#đ")</span>
                                            }

                                             <span> @Convert.ToDecimal(item.CurrentPrice).ToString("#,#đ")</span>
                                        </div>

                                        <div class="product-actions">
                                            <a href="#" onclick="return AddToCart(@item.Id, 1)" class="addtocart" title="Thêm vào giỏ" data-toggle="modal" data-target=".addtocart-modal">
                                                <i class="fa fa-shopping-cart"></i>
                                                <span>Thêm vào giỏ</span>
                                            </a>
                                            <a href="#" onclick="return AddProductToWishlist(@item.Id)" class="addtowishlist" title="Yêu thích">
                                                <i class="fa fa-heart"></i>
                                            </a>
                                            <a href="#" class="quickview" title="Xem nhanh" data-toggle="modal" data-target=".quickview-modal" id="@item.Id">
                                                <i class="fa fa-search"></i>
                                            </a>

                                        </div>
                                    </div>
                                </div>
                            </li>
                        }
                    </ul>
                }
                else
                {
                    <ul class="products-grid columns4">
                        @foreach (var item in Model.Content)
                        {
                            <li>
                                <div class="product">
                                    <figure class="product-image-area">
                                        <a href="@Url.Action("Detail", "Product", new { id = item.Id })" title="@item.Name" class="product-image">
                                            <img src="@item.Image" alt="Product Name" style="object-fit:cover; width:100%; height:200px">
                                            @*<img src="@item.Preview" alt="Product Name" class="product-hover-image" style="object-fit:cover; width:100%; height:200px">*@
                                        </a>
                                        <a href="#" class="product-quickview" data-toggle="modal" data-target=".quickview-modal" id="@item.Id">
                                            <i class="fa fa-share-square-o"></i>
                                            <span>Xem nhanh</span>
                                        </a>

                                        @if (item.SalePrice != item.RegularPrice)
                                        {
                                            <div class="product-label"><span class="discount">@item.DiscountPercent</span></div>
                                        }
                                        @if (item.NewProduct)
                                        {
                                            <div class="product-label"><span class="new">Mới</span></div>
                                        }
                                    </figure>
                                    <div class="product-details-area">
                                        <h2 class="product-name"><a href="@Url.Action("Detail", "Product", new { id = item.Id })" title="@item.Name">@item.Name</a></h2>
                                        <div class="product-ratings">
                                            <div class="ratings-box">
                                                <div class="rating" style="width:100%"></div>
                                            </div>
                                        </div>
                                        <div class="product-price-box">
                                            @if (item.SalePrice != item.CurrentPrice)
                                            {
                                                <span class="old-price"> @Convert.ToDecimal(item.RegularPrice).ToString("#,#đ")  </span>
                                            }
                                                <span class="product-price">@Convert.ToDecimal(item.CurrentPrice).ToString("#,#đ")</span>
                                        </div>
                                        <div class="product-actions">
                                            <a href="#" onclick="return AddProductToWishlist(@item.Id)" class="addtowishlist" title="Yêu thích">
                                                <i class="fa fa-heart"></i>
                                            </a>
                                            <a href="#" onclick="return AddToCart(@item.Id, 1)" class="addtocart" title="Thêm vào giỏ" data-toggle="modal" data-target=".addtocart-modal">
                                                <i class="fa fa-shopping-cart"></i>
                                                <span>Thêm vào giỏ</span>
                                            </a>
                                              <a href="#" class="comparelink" title="Xem nhanh" data-toggle="modal" data-target=".quickview-modal" id="@item.Id">
                                                <i class="fa fa-search"></i>
                                            </a>

                                        </div>
                                    </div>
                                </div>
                            </li>
                        }
                    </ul>
                }
                <div class="toolbar-bottom">
                    <div class="toolbar">
                        <div class="sorter">                           
                            <pagination model="@Model" query-string="@Context.Request.QueryString" css-style="pagination pagination-sm"></pagination>                           
                        </div>
                    </div>
                </div>
            </div>
            @Html.Partial("_PartialFilterCategory", categories)
            
        </div>
    </div>

   <div class="modal fade quickview-modal" tabindex="-1" role="dialog" aria-labelledby="myLoginModal" >
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
            @await Html.PartialAsync("_PartialQuickView", new ShopItem())
            </div>
        </div>
   </div>

    <div class="modal fade addtocart-modal" tabindex="-1" role="dialog" aria-labelledby="myLoginModal">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                @await Html.PartialAsync("_PartialAddToCart")
            </div>
        </div>
    </div>

</div>
