@using Newtonsoft.Json
@using LoadingProductShared.Helpers
@using Microsoft.AspNetCore.Html
@model PagedList<MediaFile>
@{
    ViewBag.Icon = "fa-image";
    ViewBag.Title = "Ảnh banner";
    string[] previewData = Model.Content.Select(x => x.FileLink).ToArray();
    object[] previewConfig = Model.Content.Select(x => new { key = x.Id, caption = x.FileName, size = x.FileSize, showDrag = false, width = "120px" }).ToArray();
    var x1 = new HtmlString(JsonConvert.SerializeObject(previewData));
    var x2 = new HtmlString(JsonConvert.SerializeObject(previewConfig));
}

<section role="main" class="content-body">
    <header class="page-header">
        <h2><i class="fa @ViewBag.Icon"></i> @ViewBag.Title</h2>
        <div class="right-wrapper pull-right">
            <ol class="breadcrumbs">
                <li>
                    <a href="@Url.Action("Index", "HomeAdmin")">
                        <i class="fa fa-home"></i>
                    </a>
                </li>
                <li><span>Thư viện</span></li>
                <li><span>Hình ảnh</span></li>
            </ol>
            <a class="sidebar-right-toggle" data-open="sidebar-right"><i class="fa fa-chevron-left"></i></a>
        </div>
    </header>
    <div class="row">
        <div class="col-sm-4">
            <pagination model="@Model" query-string="@Context.Request.QueryString" css-style="pagination pagination-sm"></pagination>
        </div>
        <div class="col-sm-8 text-right">
            <partial name="_PartialDataFilter" />
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <input id="files" name="files" type="file" multiple class="file-loading">
        </div>
    </div>
</section>
@section Scripts
    {
    <script>
        $("#files").fileinput({
            uploadUrl: "/Admin/Media/FileUploadBanner",
            deleteUrl: "/Admin/Media/FileRemove",
            initialPreview: @x1,
            initialPreviewConfig: @x2,
            initialPreviewAsData: true,
            overwriteInitial: false,
            maxFileSize: 2048,
            resizeImage: true,
            maxImageWidth: 2048,
            maxImageHeight: 2048,
            allowedFileTypes: ['image', 'html', 'text', 'video', 'audio', 'flash'],
            allowedPreviewTypes: ['image', 'html', 'text', 'video', 'audio', 'flash']
        }).on('filebeforedelete', function() {
            var aborted = !window.confirm('Bạn xác nhận muốn xóa file này?');
            return aborted;
        });
    </script>
}
