@model ShopOrder
@{
    ViewBag.Icon = "fa-shopping-cart";
    ViewBag.Title = "Đơn hàng";
    //List<ShopItem> itemList = ViewBag.ItemList;
    var orderItemList = Model.Items;
}

<section role="main" class="content-body">
    <header class="page-header">
        <h2><i class="fa @ViewBag.Icon"></i> @ViewBag.Title</h2>
        <div class="right-wrapper pull-right">
            <ol class="breadcrumbs">
                <li>
                    <a asp-action="Index" asp-controller="HomeAdmin">
                        <i class="fa fa-home"></i>
                    </a>
                </li>
                <li>
                    <a asp-action="Index">
                        <i class="fa fas fa-product-hunt"></i> Sản phẩm
                    </a>
                </li>
                <li>
                    <span>Đơn hàng</span>
                </li>
            </ol>
            <a class="sidebar-right-toggle" data-open="sidebar-right"><i class="fa fa-chevron-left"></i></a>
        </div>
    </header>
    <div class="row">
        <div class="col-sm-4">
            <a class="btn btn-primary" href="@Url.Action("Orders")"><i class="fa fa-undo"></i> Quay lại</a>
            <a class="btn btn-warning" href="@Url.Action("UpdateOrder", new { @id = Model.Id })" data-modal=""><i class="fa fa-pencil"></i> Cập nhật</a>
        </div>
        <div class="col-sm-8 text-right">
        </div>
    </div>

    <div class="row">
        <div class="col-md-3 text-center">
            <h3>Mã đơn hàng: @Html.DisplayFor(m => m.Id)</h3>
            <hr />
        </div>
        <div class="col-md-9">
            <div class="row">
                <div class="col-sm-6">
                    <dl class="dl-horizontal">
                        <dt>@Html.DisplayNameFor(m => m.GrandTotalPrice)</dt>
                        <dd>@Html.DisplayFor(m => m.GrandTotalPrice)</dd>
                        <dt>@Html.DisplayNameFor(m => m.Note)</dt>
                        <dd>@Html.DisplayFor(m => m.Note)</dd>
                        <dt>@Html.DisplayNameFor(m => m.CreateTime)</dt>
                        <dd>@Html.DisplayFor(m => m.CreateTime)</dd>
                        <dt>@Html.DisplayNameFor(m => m.DeliveryTime)</dt>
                        <dt>@Html.DisplayFor(m => m.DeliveryTime)</dt>
                    </dl>
                    <hr />
                </div>
                <div class="col-sm-6">
                    <dl class="dl-horizontal">
                        <dt>@Html.DisplayNameFor(m => m.OrderStatus)</dt>
                        <dd>@Html.EnumStatusFor(m => m.OrderStatus)</dd>
                        <br />
                        <dt>@Html.DisplayNameFor(m => m.PaymentStatus)</dt>
                        <dd>@Html.EnumStatusFor(m => m.PaymentStatus)</dd>

                        @if (Model.PaymentInfo != null)
                        {
                            <dt>@Html.DisplayNameFor(m => m.PaymentInfo)</dt>
                            <dt>@Html.DisplayFor(m => m.PaymentInfo)</dt>
                        }
                    </dl>
                </div>
            </div>
        </div>
    </div>



    <div class="m-t">
        <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" class="active"><a href="#productList" aria-controls="productList" role="tab" data-toggle="tab">Danh sách sản phẩm</a></li>
            <li role="presentation"><a href="#infoUser" aria-controls="infoUser" role="tab" data-toggle="tab">Thông tin khách hàng</a></li>
            <li role="presentation"><a href="#infoDelivery" aria-controls="infoDelivery" role="tab" data-toggle="tab">Thông tin người giao hàng</a></li>
        </ul>
        <div class="tab-content">
            <div role="tabpanel" class="tab-pane active" id="productList">
                <div class="row" style="margin-top:10px;">
                    <div class="col-sm-6">
                        <h4 class="title">Danh sách sản phẩm</h4>
                    </div>
                    <div class="col-sm-6 text-right">
                        @* <a class="btn btn-sm btn-info" href="@Url.Action("ChargeLogs", new { id = Model.Id })" title="Xem danh sách đầy đủ"> <i class="fa fa-search"></i> Xem tất cả</a>*@
                    </div>
                </div>
                <table class="table table-striped table-bordered table-hover">
                    <tr>
                        <th>Mã sản phẩm</th>
                        <th>Tên sản phẩm</th>
                        <th>Số lượng</th>
                        <th>Thành tiền</th>
                        <th>Thao tác</th>
                    </tr>
                    @foreach (var item in orderItemList)
                    {
                        <tr>
                            <td>@Html.DisplayFor(m => item.Id)</td>
                            <td>@Html.DisplayFor(m => item.ShopItem.Name)</td>
                            <td>@Html.DisplayFor(m => item.Quantity)</td>
                            <td>@Html.DisplayFor(m => item.SubTotal)</td>
                            <td>@Html.UpdateLink("UpdateOrderItem", new { @id = item.Id }, true)</td>
                        </tr>
                    }
                </table>

            </div>
            <div role="tabpanel" class="tab-pane" id="infoUser">
                <table class="table table-striped table-bordered table-hover">
                    <tr>
                        <th>Mã thành viên</th>
                        <th>Tên đăng nhập</th>
                        <th>Email</th>
                        <th>Số điện thoại</th>
                        <th>Thời gian</th>
                        <th>Trạng thái</th>
                        <th>Thao tác</th>
                    </tr>
                    <tr>
                        <td>@Html.DisplayFor(m => Model.AppUser.Id)</td>
                        <td>@Html.DisplayFor(m => Model.AppUser.UserName)</td>
                        <td>@Html.DisplayFor(m => Model.AppUser.Email)</td>
                        <td>@Html.DisplayFor(m => Model.AppUser.PhoneNumber)</td>
                        <td>@Html.DisplayFor(m => Model.AppUser.CreateTime)</td>
                        <td>@Html.DisplayFor(m => Model.AppUser.Status)</td>
                        @*<td><a class="btn btn-xs btn-info" data-modal="" href="@Url.Action("ChargeDetails", "CashLog", new { id= item.Id })" title="Details"><i class="fa fa-search"></i></a></td>*@
                    </tr>
                </table>
            </div>
            <div role="tabpanel" class="tab-pane" id="infoDelivery">
                @*<partial name="_PartialCharge" />*@
                <div class="row" style="margin-top:10px;">
                    <div class="col-sm-6">
                        <h4 class="title">Thông tin người nhận hàng</h4>
                    </div>
                    <div class="col-sm-6 text-right">
                        @* <a class="btn btn-sm btn-info" href="@Url.Action("ChargeLogs", new { id = Model.Id })" title="Xem danh sách đầy đủ"> <i class="fa fa-search"></i> Xem tất cả</a>*@
                    </div>
                </div>
                <table class="table table-striped table-bordered table-hover">
                    <tr>
                        <th>Mã thành viên</th>
                        @*<th>Tên thành viên</th>*@
                        <th>Số điện thoại</th>
                        <th>Địa chỉ</th>
                        <th>Quận (huyện)</th>
                        <th>Thành phố (Tỉnh)</th>
                        <th>Đất nước</th>
                        <th>Mã vùng</th>
                        @*<th>Trạng thái</th>*@
                        <th>Thao tác</th>
                    </tr>
                    <tr>
                        <td>@Html.DisplayFor(m => Model.Deliver.Id)</td>
                        <td>@Html.DisplayFor(m => Model.Deliver.Phone)</td>
                        <td>@Html.DisplayFor(m => Model.Deliver.Address)</td>
                        <td>@Html.DisplayFor(m => Model.Deliver.State)</td>
                        <td>@Html.DisplayFor(m => Model.Deliver.City)</td>
                        <td>@Html.DisplayFor(m => Model.Deliver.Country)</td>
                        <td>@Html.DisplayFor(m => Model.Deliver.ZipCode)</td>
                        @*                      <td>@Html.EnumStatusFor(m => Model.Deliver.AppUser.Status)</td>*@
                        @*<td><a class="btn btn-xs btn-info" data-modal="" href="@Url.Action("ChargeDetails", "CashLog", new { id= item.Id })" title="Details"><i class="fa fa-search"></i></a></td>*@
                    </tr>
                </table>
                <div class="row" style="margin-top:10px;">
                    <div class="col-sm-6">
                        <h4 class="title">Thông tin người giao hàng</h4>
                    </div>
                    <div class="col-sm-6 text-right">
                        @* <a class="btn btn-sm btn-info" href="@Url.Action("ChargeLogs", new { id = Model.Id })" title="Xem danh sách đầy đủ"> <i class="fa fa-search"></i> Xem tất cả</a>*@
                    </div>
                </div>
                <table class="table table-striped table-bordered table-hover">
                    <tr>
                        <th>Mã thành viên</th>
                        @*<th>Tên thành viên</th>*@
                        <th>Số điện thoại</th>
                        <th>Địa chỉ</th>
                        <th>Quận (huyện)</th>
                        <th>Thành phố (Tỉnh)</th>
                        <th>Đất nước</th>
                        <th>Mã vùng</th>
                        @*<th>Trạng thái</th>*@
                        <th>Thao tác</th>
                    </tr>
                    <tr>
                        <td>@Html.DisplayFor(m => Model.Deliver.Id)</td>
                        <td>@Html.DisplayFor(m => Model.Deliver.Phone)</td>
                        <td>@Html.DisplayFor(m => Model.Deliver.Address)</td>
                        <td>@Html.DisplayFor(m => Model.Deliver.State)</td>
                        <td>@Html.DisplayFor(m => Model.Deliver.City)</td>
                        <td>@Html.DisplayFor(m => Model.Deliver.Country)</td>
                        <td>@Html.DisplayFor(m => Model.Deliver.ZipCode)</td>
                        @*                      <td>@Html.EnumStatusFor(m => Model.Deliver.AppUser.Status)</td>*@
                        @*<td><a class="btn btn-xs btn-info" data-modal="" href="@Url.Action("ChargeDetails", "CashLog", new { id= item.Id })" title="Details"><i class="fa fa-search"></i></a></td>*@
                    </tr>
                </table>
            </div>
        </div>
    </div>
</section>