@using TCVShared.Helpers
@using Newtonsoft.Json
@using Microsoft.AspNetCore.Html
@model ShopItem
@{
    ViewBag.Icon = "fa-sliders";
    ViewBag.Title = "Thuộc tính Sản phẩm";
    string[] previewData = Model.MediaAlbum == null ? new string[0] : Model.MediaAlbum.MediaFiles.Select(x => x.FileLink).ToArray();
    object[] previewConfig = Model.MediaAlbum == null ? new object[0] : Model.MediaAlbum.MediaFiles.Select(x => new { key = x.Id, caption = x.FileName, size = x.FileSize, showDrag = false, width = "120px" }).ToArray();
    var x1 = new HtmlString(JsonConvert.SerializeObject(previewData));
    var x2 = new HtmlString(JsonConvert.SerializeObject(previewConfig));
}
<section role="main" class="content-body">
    <header class="page-header">
        <h2><i class="fa @ViewBag.Icon"></i> @ViewBag.Title</h2>
        <div class="right-wrapper pull-right">
            <ol class="breadcrumbs">
                <li>
                    <a asp-action="Index" asp-controller="HomeAdmin">
                        <i class="fa fa-home"></i>
                    </a>
                </li>
                <li><span>Thông tin</span></li>
            </ol>
            <a class="sidebar-right-toggle" data-open="sidebar-right"><i class="fa fa-chevron-left"></i></a>
        </div>
    </header>
    <div class="row">
        <div class="col-sm-4">
            <a class="btn btn-primary" href="@Url.Action("Index")"><i class="fa fa-undo"></i> Quay lại</a>
            <a class="btn btn-warning" href="@Url.Action("UpdateProduct", new { @id = Model.Id })"><i class="fa fa-pencil"></i> Cập nhật</a>
        </div>
        <div class="col-sm-8 text-right">
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 text-center">
            <h3>@Html.DisplayFor(m => m.Name)</h3>
        </div>
    </div>
    <hr />
    <div class="row">
        <div class="col-md-3">
            <img class="img-responsive" src="@Model.Image" alt="" />
            <hr />
            <dl>
                <dt>@Html.DisplayNameFor(m => m.SKU):</dt>
                <dd>@Html.DisplayFor(m => m.SKU)</dd>
                <dt>@Html.DisplayNameFor(m => m.RegularPrice):</dt>
                <dd>@Html.DisplayFor(m => m.RegularPrice)</dd>
                <dt>@Html.DisplayNameFor(m => m.SalePrice):</dt>
                <dd>@Html.DisplayFor(m => m.SalePrice)</dd>
            </dl>
            <hr />
        </div>
        <div class="col-md-9">
            <ul class="nav nav-tabs">
                <li class="active"><a href="#tab01" data-toggle="tab"><i class="fa fa-list"></i> Thuộc tính</a></li>
                <li><a href="#tab02" data-toggle="tab"><i class="fa fa-book"></i>  Mô tả</a></li>
                <li><a href="#tab03" data-toggle="tab"><i class="fa fa-image"></i>  Hình ảnh</a></li>
            </ul>
            <div class="tab-content">
                <div id="tab01" class="tab-pane active">
                    <h4>Thuộc tính Sản phẩm <a class="btn btn-xs btn-primary pull-right" href="@Url.Action("ShopItemAttrCreate", new { @id = Model.Id })" data-modal="" title="Thêm thuộc tính Sản phẩm"><i class="fa fa-plus"></i> Thêm mới</a></h4>
                    <table class="table table-bordered table-striped table-hover">
                        <tr>
                            <th>Thuộc tính</th>
                            <th>Giá trị</th>
                            <th>Bắt buộc</th>
                            <th>Thao tác</th>
                        </tr>
                        @if (Model.Attributes != null)
                        {
                            @foreach (var item in Model.Attributes)
                            {
                                <tr>
                                        <td>@Html.DisplayFor(m => item.ShopAttrib)</td>
                                    <td>
                                        <ul class="list-inline">
                                            @foreach (var attr in item.ValuesList)
                                            {
                                                if (attr.Image != null)
                                                {
                                                    <li><img src="@attr.Image" style="max-height:64px;" alt="" title="@attr.Title" /> @attr.Value</li>
                                                }
                                                else
                                                {
                                                    <li>@attr.Value (<span>@attr.Title</span>)</li>
                                                }
                                            }
                                        </ul>
                                    </td>
                                    <td>@Html.DisplayFor(m => item.IsRequired)</td>
                                    <td>@Html.UpdateLink("ShopItemAttrUpdate", new { @id = item.Id }, true) @Html.DeleteLink("ShopItemAttrDelete", new { @id = item.Id }, true) </td>
                                </tr>
                            }
                        }
                    </table>
                </div>
                <div id="tab02" class="tab-pane">
                    @Html.Raw(Model.Content)
                </div>
                <div id="tab03" class="tab-pane">
                    <input id="files" name="files" type="file" multiple class="file-loading">
                </div>
            </div>
            <hr />
        </div>
    </div>
</section>

@section Styles
    {
    <link rel="stylesheet" type="text/css" href="~/css/owl.carousel.css">
    <link rel="stylesheet" type="text/css" href="~/css/owl.theme.default.css">
}
@section Scripts
    {
    <script src="~/js/owl.carousel.min.js"></script>
    <script>
        $("#files").fileinput({
            uploadUrl: "/Admin/Media/FileUploadProduct/@Model.Id",
            deleteUrl: "/Admin/Media/FileRemove",
            initialPreview: @x1,
            initialPreviewConfig: @x2,
            initialPreviewAsData: true,
            overwriteInitial: false,
            uploadAsync: false,
            maxFileSize: 2048,
            resizeImage: true,
            maxImageWidth: 2048,
            maxImageHeight: 2048,
            allowedFileTypes: ['image', 'html', 'text', 'video', 'audio', 'flash'],
            allowedPreviewTypes: ['image', 'html', 'text', 'video', 'audio', 'flash']
        }).on('filebeforedelete', function() {
            var aborted = !window.confirm('Bạn xác nhận muốn xóa file này?');
            return aborted;
        });
    </script>
}
