@addTagHelper *,TCV.Shared
@model BlogPost
@{
    ViewData["Title"] = "Details";
}

<div role="main" class="main">
    <section class="page-header">
        <div class="container">
            <ul class="breadcrumb">
                <li><a href="#">Trang chủ</a></li>

                <li><a href="#">Blog</a></li>
                <li class="active"> @Html.DisplayFor(m => Model.Title) </li>
            </ul>
        </div>
    </section>

    <div class="container">
        <div class="row">
            <div class="col-md-9">
                <div class="blog-posts single-post">

                    <article class="post post-large blog-single-post">
                        @if (Model.Format == PostFormat.Gallery)
                        {
                            <div class="post-image">
                                <div class="owl-carousel owl-theme" data-plugin-options="{'items':1}">
                                    <div>
                                        <div class="img-thumbnail">
                                            <img class="img-responsive" src="~/img/demos/shop/blog/blog-shop-4.jpg" alt="Post">
                                        </div>
                                    </div>
                                    <div>
                                        <div class="img-thumbnail">
                                            <img class="img-responsive" src="@Html.DisplayFor(m => Model.Image)" alt="Post">
                                        </div>
                                    </div>

                                </div>
                            </div>
                        }
                        else if (Model.Format == PostFormat.Video)
                        {
                            <div class="post-video">
                                @Html.Raw(Model.ExtLink)
                            </div>
                        }

                        <div class="post-date">
                            <span class="day">@Model.CreateTime.Value.Day.ToString()</span>
                            <span class="month">Tháng @Model.CreateTime.Value.Month.ToString()</span>
                        </div>

                        <div class="post-content">

                            <h2><a href="#">@Model.Title</a></h2>

                            <div class="post-meta">
                                <span><i class="fa fa-user"></i> By <a href="#">@Model.CreateUser</a> </span>
                                <span><i class="fa fa-tag"></i> <a href="#">News</a> </span>
                                @*<span><i class="fa fa-comments"></i> <a href="#">12 Comments</a></span>*@
                            </div>

                            @Html.Raw(Model.Content)


                            <div class="post-block post-share">
                                <h3 class="h4 heading-primary"><i class="fa fa-share"></i>Share this post</h3>

                                <!-- AddThis Button BEGIN -->
                                <div class="addthis_toolbox addthis_default_style ">
                                    <a class="addthis_button_pinterest_pinit"></a>
                                    <a class="addthis_counter addthis_pill_style"></a>
                                    <div class="fb-like" data-href="https://localhost:5001/BlogPost/Details/@Model.Id" data-layout="standard" data-action="like" data-size="small" data-show-faces="true" data-share="false"></div>
                                </div>

                                <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=xa-50faf75173aadc53"></script>
                                <!-- AddThis Button END -->
                            </div>
                            <div class="fb-comments" data-href="http://www.ticivi.com/BlogPost/Details/@Model.Id" data-width="100%" data-numposts="5"></div>

                        </div>
                    </article>

                </div>
            </div>

            @*<partial name="_PartialRightBlog" />*@

        </div>
    </div>

</div>

