@model ShopWish
<div role="main" class="main">
    <div class="container">
        <div class="row">
            <div class="col-md-9 col-md-push-3 my-account">
                <h1 class="h2 heading-primary font-weight-normal">Danh sách yêu thích</h1>

                <div class="toolbar mb-none">
                    <div class="sorter">


                        <ul class="pagination">
                            <li class="active"><a href="#">1</a></li>
                            <li><a href="#">2</a></li>
                            <li><a href="#"><i class="fa fa-caret-right"></i></a></li>
                        </ul>

                    </div>
                </div>
                <ul class="products-grid columns4">
                    @foreach (var item in Model.Items)
                    {
                        <li id="item-wishlist-@item.ShopItem.Id">
                            <div class="product">
                                <figure class="product-image-area">
                                    <a href="@Url.Action("Detail", "Product", new { id = item.ShopItem.Id })" title="@item.ShopItem.Name" class="product-image">
                                        <img src="@item.ShopItem.Image" alt="Product Name" style="width:100%; height:200px">
                                        @*<img src="@item.ShopItem.Preview" alt="Product Name" class="product-hover-image" style="width:100%; height:200px">*@
                                    </a>
                                    <a href="#" class="product-quickview" data-toggle="modal" data-target=".quickview-modal" id="@item.ShopItem.Id">
                                        <i class="fa fa-share-square-o"></i>
                                        <span>Xem nhanh</span>
                                    </a>

                                    @if (item.ShopItem.SalePrice != item.ShopItem.RegularPrice)
                                    {
                                        <div class="product-label"><span class="discount">-10%</span></div>
                                    }
                                    @if (item.ShopItem.NewProduct)
                                    {
                                        <div class="product-label"><span class="new">Mới</span></div>
                                    }
                                </figure>
                                <div class="product-details-area">
                                    <h2 class="product-name"><a href="@Url.Action("Detail", "Product", new { id = item.Id })" title="@item.ShopItem.Name">@item.ShopItem.Name</a></h2>
                                    <div class="product-ratings">
                                        <div class="ratings-box">
                                            <div class="rating" style="width:@(item.ShopItem.TotalRating * 100)%"></div>
                                        </div>
                                    </div>
                                    <div class="product-price-box">
                                        @if (item.ShopItem.SalePrice != item.ShopItem.CurrentPrice)
                                        {
                                            <span class="old-price">@item.ShopItem.RegularPrice</span>
                                        }

                                        <span class="product-price">@item.ShopItem.CurrentPrice</span>
                                    </div>
                                    <div class="product-actions">
                                        <a href="#" onclick="return RemoveProductFromWishlist(@item.ShopItem.Id)" class="addtowishlist" title="Xóa yêu thích">
                                            <i class="fa fa-remove"></i>
                                        </a>
                                        <a href="#" onclick="return AddToCart(@item.Id, 1)" class="addtocart" title="Thêm vào giỏ" data-toggle="modal" data-target=".addtocart-modal">
                                            <i class="fa fa-shopping-cart"></i>
                                            <span>Thêm vào giỏ</span>
                                        </a>
                                        <a href="#" class="comparelink" title="Xem nhanh" data-toggle="modal" data-target=".quickview-modal" id="@item.ShopItem.Id">
                                            <i class="fa fa-search"></i>
                                        </a>

                                    </div>
                                </div>
                            </div>
                        </li>
                    }
                </ul>
                <div class="toolbar-bottom">
                    <div class="toolbar">
                        <div class="sorter">
                            <ul class="pagination">
                                <li class="active"><a href="#">1</a></li>
                                <li><a href="#">2</a></li>
                                <li><a href="#"><i class="fa fa-caret-right"></i></a></li>
                            </ul>
                            <div class="limiter">
                                <label>Hiển thị:</label>
                                <select>
                                    <option value="12">12</option>
                                    <option value="24">24</option>
                                    <option value="36">36</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-md-pull-9">
                <aside class="sidebar">
                    <h4>Tài khoản của tôi</h4>
                    <ul class="nav nav-list">
                        <li><a href="@Url.Action("Index","Manage")">Tổng quan</a></li>
                        <li><a href="@Url.Action("ChangePassword","Manage")">Thông tin</a></li>
                        <li><a href="@Url.Action("GetMyOrder","Manage")">Đơn hàng</a></li>
                        <li class="active"><a href="#">Yêu thích</a></li>
                    </ul>
                </aside>
            </div>

        </div>
    </div>

    <div class="modal fade quickview-modal" tabindex="-1" role="dialog" aria-labelledby="myLoginModal">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                @await Html.PartialAsync("_PartialQuickView", new ShopItem())
            </div>
        </div>
    </div>

   <div class="modal fade addtocart-modal" tabindex="-1" role="dialog" aria-labelledby="myLoginModal">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                @await Html.PartialAsync("_PartialAddToCart")
            </div>
        </div>
    </div>
</div>