@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor
@{
    bool isAuthenticated = this.User.Identity.IsAuthenticated;
    string emailLogined = this.User.Identity.Name;
    var cart = HttpContextAccessor.HttpContext.Session.GetObjectFromJson<ShopCart>("Cart");
    if (cart == null)
    {
        cart = new ShopCart();
        cart.Items = new List<CartItem>();
    }
}

<div class="body">
    <header id="header" data-plugin-options="{'stickyEnabled': true, 'stickyEnableOnBoxed': true, 'stickyEnableOnMobile': false, 'stickyStartAt': 142, 'stickySetTop': '-142px', 'stickyChangeLogo': false}">
        <div class="header-body" id="cartdetails">
            <div class="header-top">
                <div class="container">
                    <div class="dropdowns-container">
                        <div class="header-dropdown cur-dropdown">
                            <a href="#">VND <i class="fa fa-caret-down"></i></a>
                            <ul class="header-dropdownmenu">
                                <li><a href="#">VND</a></li>
                                <li><a href="#">USD</a></li>
                            </ul>
                        </div>
                        <div class="header-dropdown lang-dropdown">
                            <a href="#"><img src="~/img/demos/shop/vn.png" alt="Vietnam">Việt Nam <i class="fa fa-caret-down"></i></a>
                            <ul class="header-dropdownmenu">
                                <li><a href="@Url.Action("ChangeLanguage", "Home", new { language = "vi", returnURL = "#" })"><img src="~/img/demos/shop/vn.png" alt="Vietnam">Việt Nam</a></li>
                                <li><a href="@Url.Action("ChangeLanguage", "Home", new { language = "en", returnURL = "#" })"><img src="~/img/demos/shop/en.png" alt="English">English</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="top-menu-area">
                        <a href="#">Tài khoản <i class="fa fa-caret-down"></i></a>
                        <ul class="top-menu">
                            <li><a href="@Url.Action("About", "Home")" title="Giới thiệu về công ty TiCiVi">Về ticivi</a></li>
                            <li><a href="@Url.Action("Help", "Home")" title="Câu hỏi thường gặp">Trợ giúp</a></li>
                            @if (isAuthenticated == false)
                            {
                                <li><a href="@Url.Action("Register", "Account")">Đăng ký</a></li>
                                <li><a href="@Url.Action("Login", "Account")">Đăng nhập</a></li>
                            }
                            else
                            {
                                <li><a href="@Url.Action("Index", "Manage")" title="Thông tin tài khoản">@emailLogined</a></li>
                                <li><a href="@Url.Action("Index", "HomeAdmin", new { area = "Admin"})" title="Trang quản lý">Quản lý bán hàng</a></li>
                                <li><a href="@Url.Action("Logout", "Account")">Đăng xuất</a></li>
                            }
                        </ul>
                    </div>
                    <p class="welcome-msg">CHÀO MỪNG BẠN ĐẾN VỚI NÔNG SẢN SẠCH VN </p>
                </div>
            </div>
            <div class="header-container container">
                <div class="header-row">
                    <div class="header-column">
                        <div class="header-logo">
                            <a href="@Url.Action("Index", "Home")">
                                <img alt="Porto" width="111" height="51" src="~/img/icon/logo.png" class="dark-logo">
                                <img alt="Porto" width="111" height="51" src="~/img/icon/logo.png" class="light-logo">
                            </a>
                        </div>
                    </div>
                    <div class="header-column">
                        <div class="row">
                            <div class="cart-area">
                                <div class="custom-block">
                                    <i class="fa fa-phone"></i>
                                    <span>(+84) 355 655 065</span>
                                    <span class="split"></span>
                                    <span>(+84) 343 216 024</span>

                                    <span class="split"></span>
                                    <span> GIỎ HÀNG </span>

                                </div>
                                <div class="cart-dropdown">
                                    <a href="#" class="cart-dropdown-icon">
                                        <i class="minicart-icon"></i>
                                        <span class="cart-info">
                                            <span class="cart-qty">@cart.Items.Count</span>
                                            <span class="cart-text">item(s)</span>
                                        </span>
                                    </a>
                                    <div class="cart-dropdownmenu right">
                                        <div class="dropdownmenu-wrapper">
                                            <div class="cart-products">
                                                @foreach (var item in cart.Items)
                                                {
                                                    <div class="product product-sm">
                                                        <a href="#" onclick="return RemoveProduct(@item.ShopItem.Id)" class="btn-remove" title="Remove Product">
                                                            <i class="fa fa-times"></i>
                                                        </a>
                                                        <figure class="product-image-area">
                                                            <a href="@Url.Action("Detail", "Product", new { id = item.ShopItem.Id })" title="@item.ShopItem.Name" class="product-image">
                                                                <img src="@item.ShopItem.Image" alt="Product Name">
                                                            </a>
                                                        </figure>
                                                        <div class="product-details-area">
                                                            <h2 class="product-name"><a href="@Url.Action("Detail", "Product", new { id = item.ShopItem.Id })" title="@item.ShopItem.Name">@item.ShopItem.Name</a></h2>
                                                            <div class="cart-qty-price">
                                                                @item.Quantity X
                                                                <span class="product-price">@Convert.ToDecimal(item.ShopItem.CurrentPrice).ToString("#,#đ")</span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                }
                                            </div>
                                            <div class="cart-totals">
                                                Tổng cộng: <span> @Convert.ToDecimal(cart.SubTotal).ToString("#,#đ")</span>
                                            </div>
                                            <div class="cart-actions">
                                                <a href="@Url.Action("Index", "Cart")" class="btn btn-primary">Xem giỏ hàng</a>
                                                <a href="@Url.Action("Index", "Checkout")" class="btn btn-primary">Đặt hàng</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="header-search">
                                <a class="search-toggle"><i class="fa fa-search"></i></a>
                                <form asp-controller="Product" asp-action="Search" method="get">
                                    <div class="header-search-wrapper">
                                        <input type="text" class="form-control" name="keyword" id="keyword" placeholder="Tìm sản phẩm, thương hiệu..." required>
                                        <select id="category" name="category">
                                            <option value="">Tất cả danh mục</option>
                                        </select>
                                        <button class="btn btn-default" type="submit"><i class="fa fa-search"></i></button>
                                    </div>
                                </form>
                            </div>
                            <a href="#" class="mmenu-toggle-btn" title="Toggle menu">
                                <i class="fa fa-bars"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="header-container header-nav">
                <div class="container">
                    <div class="header-nav-main">
                        <nav>
                            <ul class="nav nav-pills" id="mainNav">
                                <li class="dropdown active">
                                    <a class="" href="@Url.Action("Index", "Home")">
                                        Trang chủ
                                    </a>
                                </li>
                                <li class="dropdown dropdown-mega">
                                    <a href="@Url.Action("Category", "Product", new { id = -1})" class="dropdown-toggle">
                                        Sản phẩm nông nghiệp <span class="tip tip-hot">Hot!</span>
                                    </a>
                                    <ul class="dropdown-menu">
                                        <li>
                                            <div class="dropdown-mega-content">
                                                <div class="row">
                                                    <div class="col-md-8">
                                                        <div class="dropdown-mega-top">
                                                            <span>Gợi ý:</span>
                                                            <a href="#">Hạt</a>
                                                            <a href="#">Chùm ngây</a>
                                                            <a href="#">Socola</a>
                                                            <a href="#">Rau sạch</a>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-8">
                                                        <div class="row">
                                                            <div class="col-md-4">
                                                                <a href="@Url.Action("Category", "Product", new { id = 11 })" class="cat-img"><img src="~/img/icon/icon_hat.png" alt="Category Name"></a>
                                                                <a href="@Url.Action("Category", "Product", new { id = 11 })" class="dropdown-mega-sub-title">Các loại Hạt</a>
                                                                @*<ul class="dropdown-mega-sub-nav">
                                                                        <li><a href="@Url.Action("Category", "Product", new { id = 0, from = "F" })">Các loại hạt nhập khẩu</a></li>
                                                                        <li><a href="@Url.Action("Category", "Product", new { id = 0, from = "D" })">Các loại hạt xuất khẩu</a></li>
                                                                    </ul>*@
                                                            </div>
                                                            <div class="col-md-4">
                                                                <a href="@Url.Action("Category", "Product", new { id = 12 })" class="cat-img"><img src="~/img/icon/icon_rau.png" alt="Category Name"></a>
                                                                <a href="@Url.Action("Category", "Product", new { id = 12 })" class="dropdown-mega-sub-title">Rau củ</a>
                                                                @*<ul class="dropdown-mega-sub-nav">
                                                                        <li><a href="@Url.Action("Category", "Product", new { id = 1, from = "F" })">Rau củ nhập khẩu</a></li>
                                                                        <li><a href="@Url.Action("Category", "Product", new { id = 1, from = "D" })">Rau củ xuất khẩu</a></li>
                                                                    </ul>*@
                                                            </div>
                                                            <div class="col-md-4">
                                                                <a href="@Url.Action("Category", "Product", new { id = 13 })" class="cat-img"><img src="~/img/icon/icon_traicay.png" alt="Category Name"></a>
                                                                <a href="@Url.Action("Category", "Product", new { id = 13 })" class="dropdown-mega-sub-title">Trái cây</a>
                                                                @*<ul class="dropdown-mega-sub-nav">
                                                                        <li><a href="@Url.Action("Category", "Product", new { id = 2, from = "F" })">Trái cây nhập khẩu</a></li>
                                                                        <li><a href="@Url.Action("Category", "Product", new { id = 2, from = "D" })">Trái cây xuất khẩu</a></li>
                                                                    </ul>*@
                                                            </div>

                                                            <div class="col-md-4" style="align-content:center">
                                                                <a href="@Url.Action("Category", "Product", new { id = 14 })" class="cat-img"><img src="~/img/icon/icon_nam.png" alt="Category Name"></a>
                                                                <a href="@Url.Action("Category", "Product", new { id = 14 })" class="dropdown-mega-sub-title">Nấm</a>
                                                            </div>
                                                            <div class="col-md-4" style="align-content:center">
                                                                <a href="@Url.Action("Category", "Product", new { id = 16 })" class="cat-img"><img src="~/img/icon/icon_chumngay.png" alt="Category Name"></a>
                                                                <a href="@Url.Action("Category", "Product", new { id = 16 })" class="dropdown-mega-sub-title">Chùm ngây</a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-4">
                                                        <div class="menu-banner-area">
                                                            <img src="~/img/icon/logo.jpg" alt="Menu Banner">
                                                            <div class="menu-banner-header">
                                                                <h3>Mua ngay <span class="font-weight-bold"> trên </span> <span class="font-weight-extra-bold">TCV</span></h3>
                                                                <a href="@Url.Action("Category", "Product")" class="btn btn-primary">Xem ngay <i class="fa fa-caret-right"></i></a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </li>
                                 <li class="dropdown dropdown-mega">
                                    <a href="@Url.Action("Category", "Product", new { id = -2})" class="dropdown-toggle">
                                        Thành phẩm nông nghiệp <span class="tip tip-new">Mới</span>
                                    </a>
                                    <ul class="dropdown-menu">
                                        <li>
                                            <div class="dropdown-mega-content">
                                                <div class="row">
                                                    <div class="col-md-8">
                                                        <div class="dropdown-mega-top">
                                                            <span>Gợi ý:</span>
                                                            <a href="#">Chùm ngây</a>
                                                            <a href="#">Socola</a>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-8">
                                                        <div class="row">
                                                            <div class="col-md-4">
                                                                <a href="@Url.Action("Category", "Product", new { id = 15 })" class="cat-img"><img src="~/img/icon/icon_socola.png" alt="Category Name"></a>
                                                                <a href="@Url.Action("Category", "Product", new { id = 15 })" class="dropdown-mega-sub-title">Socola</a>
                                                                @*<ul class="dropdown-mega-sub-nav">
                                                                    <li><a href="@Url.Action("Category", "Product", new { id = 0, from = "D" })">Socola Hạt</a></li>
                                                                    <li><a href="@Url.Action("Category", "Product", new { id = 0, from = "F" })">Socola Tươi</a></li>
                                                                    </ul>*@
                                                            </div>
                                                            <div class="col-md-4">
                                                                <a href="@Url.Action("Category", "Product", new { id = 16 })" class="cat-img"><img src="~/img/icon/icon_chumngay.png" alt="Category Name"></a>
                                                                <a href="@Url.Action("Category", "Product", new { id = 16 })" class="dropdown-mega-sub-title">Chùm ngây</a>
                                                            </div>
                                                             <div class="col-md-4">
                                                                <a href="@Url.Action("Category", "Product", new { id = 17 })" class="cat-img"><img src="~/img/icon/icon_thucphamsay.png" alt="Category Name"></a>
                                                                <a href="@Url.Action("Category", "Product", new { id = 17 })" class="dropdown-mega-sub-title">Thực phẩm sấy</a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-4">
                                                        <div class="menu-banner-area">
                                                            <img src="~/img/icon/logo.jpg" alt="Menu Banner">
                                                            <div class="menu-banner-header">
                                                                <h3>Mua ngay <span class="font-weight-bold"> trên </span> <span class="font-weight-extra-bold">TCV</span></h3>
                                                                <a href="@Url.Action("Category", "Product")" class="btn btn-primary">Xem ngay <i class="fa fa-caret-right"></i></a>
                                                            </div>
                                                        </div>
                                                    </div>


                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </li>
                                <li class="dropdown">
                                    <a href="@Url.Action("Index","BlogPost")">
                                        Bài viết nông nghiệp
                                    </a>
                                </li>
                                <li class="pull-right">
                                    <a href="@Url.Action("Contact","Home")">
                                        Liên hệ
                                    </a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <div class="mobile-nav">
        <div class="mobile-nav-wrapper">
            <ul class="mobile-side-menu">
                <li><a href="@Url.Action("Index", "Home")">Trang chủ</a></li>
                <li>
                    <span class="mmenu-toggle"></span>
                    <a href="@Url.Action("Category", "Product", new { id = -1})">Sản phẩm<span class="tip tip-hot">Hot</span></a>
                    <ul>
                        <li>
                            <a href="@Url.Action("Category", "Product", new { id = 11 })">Các loại hạt</a>
                        </li>
                        <li>
                            <a href="@Url.Action("Category", "Product", new { id = 12 })">Rau củ</a>
                        </li>
                        <li>
                            <a href="@Url.Action("Category", "Product", new { id = 13 })">Trái cây</a>
                        </li>
                        <li>
                            <a href="@Url.Action("Category", "Product", new { id = 14 })">Nấm</a>
                        </li>
                        <li>
                            <a href="@Url.Action("Category", "Product", new { id = 16 })">Chùm ngây</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <span class="mmenu-toggle"></span>
                    <a href="@Url.Action("Category", "Product", new { id = -2})">Thành phẩm <span class="tip tip-new">Mới</span></a>
                    <ul>
                        <li>
                            <a href="@Url.Action("Category", "Product", new { id = 15 })">Socola</a>
                        </li>
                        <li>
                            <a href="@Url.Action("Category", "Product", new { id = 16 })">Chùm ngây</a>
                        </li>
                        <li>
                            <a href="@Url.Action("Category", "Product", new { id = 17 })">Thực phẩm sấy</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="@Url.Action("Index","BlogPost")">Bài viết</a>
                </li>
                <li>
                    <a href="@Url.Action("Contact","Home")">Liên hệ</a>
                </li>
            </ul>
        </div>
    </div>
    <div id="mobile-menu-overlay"></div>
</div>