
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
<header id="header" class="header-narrow header-semi-transparent-light header-flex" data-plugin-options="{'stickyEnabled': true, 'stickyEnableOnBoxed': true, 'stickyEnableOnMobile': true, 'stickyStartAt': 1, 'stickySetTop': '1'}">
    <div class="header-body">
        <div class="header-container container">
            <div class="header-row">
                <div class="header-column">
                    <div class="header-logo">
                        <img class="logo-default" alt="Porto" width="324" height="212" src="~/img/demos/construction/logo-construction.png">
                        <a href="@Url.Action("Index")">
                            <img class="logo-small" alt="Porto" width="131" height="48" src="~/img/demos/construction/logoAT_Chu.png">
                        </a>                       
                    </div>
                </div>

                <div class="header-column">
                    <div class="header-row">
                        <div class="header-nav header-nav-stripe">
                            <button class="btn header-btn-collapse-nav" data-toggle="collapse" data-target=".header-nav-main">
                                <i class="fa fa-bars"></i>
                            </button>
                            <ul class="header-social-icons social-icons visible-lg">
                                <li class="social-icons-facebook"><a href="http://www.facebook.com/Bốc-Xếp-Anh-Tú-305665350137681" target="_blank" title="Facebook"><i class="fa fa-facebook"></i></a></li>
                                @*<li class="social-icons-twitter"><a href="http://www.twitter.com/" target="_blank" title="Twitter"><i class="fa fa-twitter"></i></a></li>*@
                            </ul>
                            <div class="header-nav-main header-nav-main-square header-nav-main-effect-2 header-nav-main-sub-effect-1 collapse">
                                <nav>
                                    <ul class="nav nav-pills" id="mainNav">
                                        <li style="padding-top: 35px">
                                            <h3> <a href="tel:+84367998979"> HOTLINE: 0367 99 89 79 </a> </h3>
                                        </li>
                                        <li></li>
                                        <li></li>
                                        <li></li>
                                        <li></li>
                                        <li></li>
                                        <li></li>
                                        <li class="active">
                                            <a href="@Url.Action("Index")">
                                                Trang chủ
                                            </a>
                                        </li>
                                        <li>
                                            <a href="@Url.Action("About")">
                                                Giới thiệu
                                            </a>
                                        </li>
                                        <li class="dropdown">
                                            <a class="dropdown-toggle" href="@Url.Action("Service")">
                                                Dịch vụ
                                            </a>
                                            <ul class="dropdown-menu">
                                                <li><a href="@Url.Action("DetailsService","Home",new { id = 1 })">Bốc xếp</a></li>
                                                <li><a href="@Url.Action("DetailsService","Home",new { id = 2 })">Chuyển nhà - Văn phòng</a></li>
                                                <li><a href="@Url.Action("DetailsService","Home",new { id = 3 })">Cho thuê nhân công</a></li>
                                                <li><a href="@Url.Action("DetailsService","Home",new { id = 4 })">Cho thuê xe nâng cẩu</a></li>
                                            </ul>
                                        </li>
                                        @*<li>
            <a href="@Url.Action("Portfolio")">
                Portfolio
            </a>
        </li>*@
                                        @*<li>
            <a href="demo-construction-blog.html">
                Blog
            </a>
        </li>*@
                                        <li>
                                            <a href="@Url.Action("Contact")">
                                                Liên hệ
                                            </a>
                                        </li>
                                    </ul>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
